{% block variant_product_buy_include %}
    <div class="row">
        <div class="col-12 pt-3 d-flex justify-content-end">
            <button class="btn btn-buy" type="submit">
                {{ "detail.addProduct"|trans|sw_sanitize }}
            </button>
        </div>
    </div>
{% endblock %}
